@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.btnCon {
    margin: 0 auto;
    position: absolute;
    right: Calc(50% - 80px);
    bottom: 20px;
}

.container {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    //background: linear-gradient(0deg, rgba(205, 131, 255, 0.322), rgba(231, 194, 255, 0.452));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 0.5s infinite linear;
}

.error {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.toBr {
    padding: 0px 10px;
    height: 40px;
    display: -webkit-flex;
    flex-direction: row;
    background: #432c85;
    border-bottom: 2px solid #2a1957;
    color: white;
    box-shadow: 2px 2px 20px rgba(197, 109, 255, 0.452);
}

.toBr__menu {
    padding: 5px 20px;
}

.toBr__logo {
    flex: 1.5;
}

.toBr__text {
    flex: 2;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.welcome {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 300px;
    height: 300px;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin: 20px 0px;
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.red {
    color: red;
    background: black;
}

.white {
    color: white;
}

.field {
    background: linear-gradient(45deg, #6d4cc8 30%, #432c85 90%);
    border-radius: 5px;
}

.MuiInputBase-input {
    color: white;
}