@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: 0;
}

.btnCon {
    margin: 0 auto;
    position: absolute;
    right: Calc(50% - 80px);
    bottom: 20px;
    display: none;
}

.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    //background: linear-gradient(0deg, rgb(103, 44, 143), rgb(86, 41, 122));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 0.5s infinite linear;
}

.error {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.toBr {
    padding: 0px 10px;
    height: 40px;
    display: -webkit-flex;
    flex-direction: row;
    background: #432c85;
    border-bottom: 2px solid #2a1957;
    color: white;
    box-shadow: 2px 2px 20px rgba(197, 109, 255, 0.452);
}

.toBr__menu {
    padding: 5px 20px;
}

.toBr__logo {
    flex: 1.5;
}

.toBr__name {
    color: white;
    font-size: 2.1rem;
    text-decoration: none;
}

.toBr__text {
    flex: 2;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.welcome {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 300px;
    height: 300px;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.searchClosed {
    position: relative;
    margin: 20px 0px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(149, 149, 149), rgb(200, 200, 200));
    box-shadow: 2px 2px 20px rgba(246, 119, 246, 0.192);
    transition: all 0.8s ease-in-out;
}

.searchOpen {
    width: 230px;
}

.searchBtn {
    display: none;
}

.searchIconClosed {
    position: absolute;
    width: 20px;
}

.searchIconOpen {
    position: absolute;
    left: 15px;
    transform: rotateY(180deg);
    transition: all 0.8s ease-in-out;
    width: 20px;
}

.fieldClosed {
    color: white;
    background: transparent;
    height: 70%;
    width: 0%;
    border: unset;
}

.fieldOpen {
    transition: all 0.8s ease-in-out;
    background: transparent;
    padding-left: 40px;
    border: unset;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.red {
    color: red;
    background: black;
}

.white {
    color: white;
}

.MuiInputBase-input {
    color: white;
}

@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
        height: calc(100vh - 100px);
    }
    .toBr__logo {
        display: none;
    }
    .toBr__text {
        text-align: center;
    }
    .toBr__menu {
        padding: 5px 5px;
    }
}