@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --text-color: #e1e2e6;
    --text-color-error: #db3e3e;
    --color-dark: #2a1e38;
    --bg-dark: #070613;
    --bg-bright: #382350;
    --shadow: #0e24447e;
}

#root {
    width: 100%;
    height: 100%;
}

::placeholder {
    color: #e1e2e6;
}

.app {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--bg-dark), var(--bg-bright));
}

input:focus {
    outline: 0;
}

.btnCon {
    margin: 0 auto;
    position: absolute;
    right: Calc(50% - 80px);
    bottom: 20px;
}

.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 0.5s infinite linear;
}

.error {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-error);
}

.toBr {
    padding: 0px 10px;
    height: 40px;
    display: -webkit-flex;
    flex-direction: row;
    background: #2a1e38;
    color: var(--text-color);
    box-shadow: 2px 2px 20px var(--shadow);
}

.toBr__menu {
    padding: 5px 20px;
}

.toBr__logo {
    flex: 1.5;
}

.toBr__name {
    color: var(--text-color);
    font-size: 2.1rem;
    text-decoration: none;
}

.toBr__text {
    flex: 2;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.welcome {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 300px;
    height: 300px;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.searchClosed {
    position: relative;
    margin: 20px 0px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #46618b;
    box-shadow: 2px 2px 20px var(--shadow);
    transition: all 0.8s ease-in-out;
}

.searchOpen {
    width: 230px;
}

.searchBtn {
    display: none;
}

.searchIconClosed {
    position: absolute;
    width: 20px;
}

.searchIconOpen {
    position: absolute;
    left: 15px;
    transform: rotateY(180deg);
    transition: all 0.8s ease-in-out;
    width: 20px;
}

.fieldClosed {
    color: var(--text-color);
    background: transparent;
    height: 70%;
    width: 0%;
    border: unset;
}

.fieldOpen {
    transition: all 0.8s ease-in-out;
    background: transparent;
    padding-left: 40px;
    border: unset;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.suggestionCon {
    color: var(--text-color);
    transition: all 0.6s ease-in;
    position: absolute;
    padding-left: 40px;
    width: calc(100% - 42px);
    border-radius: 0 0 20px 20px;
    background: #46618b;
}

.suggestionList {
    transition: all 0.6s ease-in;
    list-style: none;
    text-decoration: none;
}

.slideIn {
    transition: all 0.6s ease-in;
}

.suggestionList li {
    margin: 0.5rem 0;
    transition: all 0.1s ease-in;
}

.suggestionHighlighted {
    color: white;
}

@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
        height: calc(100vh - 100px);
    }
    .toBr__logo {
        display: none;
    }
    .toBr__text {
        text-align: center;
    }
    .toBr__menu {
        padding: 5px 5px;
    }
}