.det {
    margin: 10px;
    padding: 25px 25px;
    width: 60vw;
    min-width: 650px;
    height: 50vh;
    max-height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(197, 109, 255, 0.452);
    color: white;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.det__up {
    flex: 0 0 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.up__dta {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dta__icon {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dta__nums {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dta__nums h2 {
    font-size: 1.8rem;
}

.dta__nums h3 {
    font-size: 1.3rem;
}

.up__loc {
    flex: 0 1 60%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up__loc h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.up__loc h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.det__dwn {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dwn__day {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 100%;
}

.det__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.6);
    height: 80%;
    transform-origin: center center;
}

.det__temp {
    font-size: 1.4rem;
    flex: 0 0 20%;
}

.det__condition {
    font-size: 1rem;
    text-transform: uppercase;
}

.det__highLow {
    font-size: 1rem;
    width: 100%;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}

.det--max {
    font-size: 0.9rem;
    color: red;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 2px rgba(255, 255, 255, 0.185);
}

.det--min {
    font-size: 0.9rem;
    color: blue;
    text-transform: uppercase;
}

@media screen and (max-width:765px) {
    .det {
        margin: unset;
        padding: 5px 5px;
        width: 90vw;
        height: 80vh;
        min-width: unset;
        min-height: unset;
        max-height: unset;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgba(197, 109, 255, 0.452);
        color: white;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .det__up {
        flex: 0 1 30%;
    }
    .det__dwn {
        flex-direction: column;
    }
    .dwn__day {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
        height: unset;
    }
    .det__highLow {
        display: none;
    }
    .det__icon {
        flex: 0 1 30%;
    }
    .det__icon img {
        width: auto;
        max-width: 100%;
    }
    .det__day {
        text-align: center;
        font-size: 4.5vmin;
    }
    .det__temp {
        font-size: 4vmin;
        display: flex;
        align-items: center;
    }
    .det__temp h2 {
        display: inherit;
        margin: 5px;
    }
}